.character_list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    padding: 0;
    @media all and (min-width:468px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media all and (min-width:768px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @media all and (min-width:1024px) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
  
.character {
  grid-column: span 1;
  justify-self: center;
  width: 120px;
  height: 400px;
  background-color: rgba(117, 5, 5, 0.815);
  border: solid 1px black;
  border-radius: 3px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.29), 1px 1px 1px rgba(92, 91, 91, 0.44);
  @media all and (min-width:468px) {
    width: 150px;
  }
  @media all and (min-width:768px) {
    width: 170px;
  }
  @media all and (min-width:1024px) {
    width: 190px;
  }
}

.house_and_hat {
  position: absolute;
  bottom: 10px;
}

.character_image_container {
  width: 120px;
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  @media all and (min-width:468px) {
    width: 150px;
    height: 230px;;
  }
}

.character_image {
  height: 100%;
}

.character_name {
  font-family: 'Jolly Lodger';
  font-weight: 200;
  color: blanchedalmond;
  font-size: 24px;
}

.character_house {
  font-family: 'Jolly Lodger';
  font-weight: 100;
  font-size: 22px;
  color: black;
  margin: 0px;
}

.hat {
  height: 50px;
  margin-bottom: 10px;
  text-decoration: none;
  transition: filter ease 0.5s;
  &:hover {
    filter: drop-shadow(5px 5px 10px rgb(219, 215, 215));
  }
}