.input_container {
    margin-top: 19px;
}

.label_input {
    font-family: 'Jolly Lodger';
    font-size: 22px;
    color: blanchedalmond;
}

.input {
    border-radius: 5px;
    height: 15px;
    background-color: blanchedalmond;
    margin-left: 15px;
}

.fa {
    color: blanchedalmond;
}