.logo_footer {
    width: 150px;
    filter: drop-shadow(5px 5px 10px rgb(219, 215, 215));
    margin-bottom: 20px;
    margin-top: 20px;
    @media all and (min-width:768px) {
        width: 190px;
    }
}

.loading {
    font-family: 'Jolly Lodger';
    color: blanchedalmond;
    font-style: oblique;
    padding-top: 10px;
    font-size: 14px;
    @media all and (min-width:668px) {
        font-size: 20px;
      }
    @media all and (min-width:1024px) {
        font-size: 24px;
    }
}